.main-page {
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.admin {
  display: flex;
  align-items: center;
  cursor: pointer !important;

  &:hover * {
    color: silver
  }

  &__icon {
    color: white;
    font-size: 1.5rem;
    margin-right: 10px;
  }

  &__text {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
    cursor: pointer;
  }
}

.sidebar {
  &__item {
    padding: 17px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer !important;

    &:hover, &.is-active {
      background: #6F7289;
    }

    & * {
      cursor: pointer !important;
    }

    &__text {
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      color: #FFFFFF;
    }

    &__icon {
      margin-bottom: 10px;
    }

  }
}

.content {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  position: relative;
}

.profile{
  &-exit {
    cursor: pointer;
    background: #60637C;
    color: white;
    padding: 10px;

    &:hover {
      background: #50557c;
      color: #f9ffef;
    }
  }
}