@import './reset.css';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

div,
p {
  cursor: default;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
}
